<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">

  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link id="pagestyle" href="/static/assets/css/material-kit.css?v=3.0.0" rel="stylesheet" />

</head>

<body class="presentation-page bg-gray-200">

  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip"  data-placement="bottom">
              <h5>
              Donations Tech
              </h5>
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ms-auto">
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  

  <header class="header-2">
    <div class="page-header min-vh-75 relative"
      style="position: relative; background-image: url('/static/assets/img/bg10.jpeg');">
      <div class="background-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-primary pt-3 mt-n5" style="text-shadow: 10px #1E90FF">"Seja a Mudança: Venha Conosco na Jornada de Transformar Vidas!"</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <section class="pt-3 pb-4" id="count-stats">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto py-3">
            <div class="row">
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-primary">+<span id="state1" countTo="80">0</span></h1>
                  <h5 class="mt-3">Famílias Beneficiadas</h5>
                  <p class="text-sm font-weight-normal">"A única maneira de descobrir a verdadeira felicidade é ajudar os outros a encontrá-la." <br>-Albert Schweitzer </Q></p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-primary">+<span id="state2" countTo="150">0</span></h1>
                  <h5 class="mt-3">Doações Recebidas</h5>
                  <p class="text-sm font-weight-normal">"A melhor maneira de encontrar a si mesmo é se perder ao serviço dos outros."
                     <br>-Mahatma Gandhi </p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-primary">+<span id="state3" countTo="70">0</span></h1>
                  <h5 class="mt-3">Cestas Entregues </h5>
                  <p class="text-sm font-weight-normal">"A grandeza de uma pessoa não está no que ela pode fazer por si mesma, mas no que ela faz pelos outros." <br>-Albert Einstein</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5 py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
                <div class="front front-background"
                  style=" background-size: cover; background-position: center;">
                  <div class="card-body py-7 text-center" style="background-color: #357cc4;"  >
                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                    <h2 class="text-white opacity-10" >Passe o mouse para saber mais Sobre Nós</h2>
                  </div>
                </div>
                <div class="back back-background"
                  style=" background-size: cover;">
                  <div class="card-body pt-4 text-center" style="background-color: #357cc4;">
                    <p class="text-white opacity-20"> Desde o início de nossa jornada, temos nos comprometido em apoiar diversas causas e iniciativas sociais. Nossos programas englobam áreas essenciais como alimentação, moradia, educação, saúde e bem-estar emocional. Em parceria com colaboradores, voluntários e doadores, nos dedicamos com afinco para gerar um impacto significativo e transformar a vida de muitas pessoas.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 ms-auto">
            <div class="row justify-content-start">
              <div class="col-md-6 mt-1" style = "margin-top: 2rem";>
                <div class="info">
                  <i class="material-icons text-gradient text-primary text-3xl">attach_money</i>
                  <h5 class="font-weight-bolder mt-2">Doação via PIX</h5>
                  <p class="lead" style="color: rgba(75, 75, 75, 0.9) ; text-align: justify;">
                    Facilite sua contribuição! Agora você pode fazer sua doação de forma rápida e segura através do PIX. Sua ajuda é essencial para apoiar nossos projetos e 
                    causas. Contribua agora e seja parte ativa na transformação que queremos ver no mundo.</p>
                </div>
              </div>
              <div class="col-md-6 mt-1">
                <div class="info">
                  <i class="material-icons text-gradient text-primary text-3xl">local_hospital</i>
                  <h5 class="font-weight-bolder mt-3">Doação de Sangue </h5>
                  <p class="lead" style="color: rgba(75, 75, 75, 0.9); text-align: justify;">
                    Doe sangue, doe vida! Com sua doação de sangue, você pode salvar até três vidas. Ajude-nos a manter os estoques em níveis adequados 
                    e garantir que todos tenham acesso ao que é vital. Junte-se a nós e faça a diferença!</p>
                </div>
              </div>
            </div>
            <div class="row justify-content-start mt-5">
              <div class="col-md-6 mt-3">
                <i class="material-icons text-gradient text-primary text-3xl">credit_card</i>
                <h5 class="font-weight-bolder mt-3">Doação Financeira</h5>
                <p class="lead" style="color: rgba(75, 75, 75, 0.9); text-align: justify;">
                  Seja um catalisador da mudança! Sua doação financeira é um ato de generosidade que pode transformar a vida de quem mais precisa. Cada contribuição conta e faz a diferença para 
                  aqueles que enfrentam desafios diários.
                </p>
              </div>
              <div class="col-md-6 mt-3">
                <div class="info">
                  <i class="material-icons text-gradient text-primary text-3xl">redeem</i>
                  <h5 class="font-weight-bolder mt-3">Doação de Agasalhos</h5>
                  <p class="lead" style="color: rgba(75, 75, 75, 0.9); text-align: justify;">
                    Espalhe calor no inverno! Sua doação de agasalhos pode aquecer o corpo e o coração de quem mais precisa. Juntos, podemos proporcionar conforto e dignidade a quem 
                    fica vulnerável ao frio. Doe agora e ajude a fazer a diferença.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class=" ">
      <div class="container">
        <div class="row" style="width: 100%;">
          <div class="row justify-content-center text-center my-sm-5" style="width: 100%;">
            <div class="col-lg-6">

              <h2 class="text-dark mb-0">Brasil: Segunda Maior Taxa de Pobreza do G20, Revela IBGE</h2>
              <p class="lead" style="color: rgba(30, 30, 30, 0.9); text-align: justify;">
                Em 2021, o Brasil apresentou uma taxa de pobreza de 5,9% da população, a segunda maior entre os países
                do G20. Esse percentual fica atrás apenas da Índia, que registrou uma taxa de 12,9%. Esses dados foram
                divulgados em um relatório do IBGE (Instituto Brasileiro de Geografia e Estatística).
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="d-flex justify-content-center " style="width: 100%;">
      <div style="width: 500px;"> <canvas id="myChart"></canvas></div>

    </div>

    <!--
    <script>
      const data = {
        labels: ['Brasil', 'Índia', 'Indonésia',],
        datasets: [{
          label: 'Porcentagem de',
          data: [5.9, 12.9, 2.5,],
          backgroundColor: [
            'RGBA(0, 0, 139, 0.9)',
            'RGBA(173, 216, 230, 1)',
            'RGBA(139, 69, 19, 0.6)',
          ],
          borderColor: '#fff',
          borderWidth: 2
        }]
      };
      const options = {
        plugins: {
          title: {
            display: true,
            font: {
              size: 24,
              weight: 'bold'
            },
            padding: 20
          }
        },
        aspectRatio: 1,
        plugins: {
          legend: {
            position: 'bottom',
            labels: {
              padding: 10,
              boxWidth: 20
            }
          }
        }
      };
      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: options
      });
    </script>

    -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8">
          <div class="row mt-4">
            <div class="col-md-6">
              <a href="/doacao-sangue.html">
                <div class="card move-on-hover">
                  <img class="w-100" src="../../static/assets/img/bg19.jpg">
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">Doação de Sangue</Data></h6>
                </div>
              </a>
            </div>
            <div class="col-md-6 mt-md-0 mt-5">
              <a href="/cadastro.html">
                <div class="card move-on-hover">
                  <img style="height: 235px;" src="../../static/assets/img/illustrations/voluntariado3.jpg  ">
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">Cadastro de Voluntários</h6>
                </div>
              </a>
            </div>
            <div class="col-md-6 mt-md-3 mt-6">
              <a href="/doacao-agasalho.html">
                <div class="card move-on-hover">
                  <img style="height: 230px;" src="../../static/assets/img/bg11.jpg" >
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">Doação de Agasalhos</h6>
                </div>
              </a>
            </div>
            <div class="col-md-6 mt-md-3 mt-6">
              <a href="/doacao-monetaria.html">
                <div class="card move-on-hover">
                  <img style="height: 230px;" src="../../static/assets/img/doacao-monetaria.png">
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">Doação Monetária</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!--
        <div class="col-md-3 mx-auto mt-md-0 mt-5">
          <div class="position-sticky" style="top:100px !important">
            <h4 class="">Você viu o gráfico, certo ?</h4>
            <h6 class="text-secondary font-weight-normal">Este gráfico ilustra a porcentagem de pobreza no Brasil, uma
              realidade que afeta milhões de pessoas em nosso país. Ao refletir sobre esses números, é importante
              lembrar que por trás de cada estatística há uma pessoa, uma família lutando para sobreviver e prosperar
            </h6>
            <h6>Junte-se a nós nesta jornada de solidariedade e compaixão. Sua generosidade pode ser a luz no fim do
              túnel para aqueles que mais precisam.</h6>
          </div>
        </div>
-->
      </div>
      </section>
      <div class="container mt-sm-5">
        <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl"
          style="background-image: url('/static/assets/img/bg15.jpg');" loading="lazy">
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 ms-lg-5">
                <h1 class="text-white">Ajude o Brasil a Superar os Efeitos das Queimadas  </h1>
                <p class="lead text-white opacity-8" style="text-align: justify;">As queimadas no Brasil têm causado destruição ambiental, prejudicado a saúde de milhares 
                  de pessoas e afetado diversas comunidades. Neste momento crítico, é fundamental que todos nós nos unamos para ajudar a mitigar os danos 
                  e apoiar as vítimas dessa tragédia.
                  <br>
                  Sua doação pode proporcionar alívio imediato para as comunidades afetadas, além de ajudar na recuperação das áreas devastadas e na assistência às famílias que perderam tudo. Cada contribuição faz a diferença e traz esperança para aqueles 
                  que estão sofrendo com os efeitos devastadores das queimadas.
                  Faça sua doação e ajude o Brasil a se recuperar!
                <a target="_blank" href="https://www.estado.rs.gov.br/governo-reativa-canal-de-doacoes-via-pix-para-auxilio-as-vitimas-das-enchentes"
                  class="text-white icon-move-right ">
                  Faça sua doação
                  <i class="fas fa-arrow-right text-sm ms-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="py-sm-7" id="download-soft-ui">
        <div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
          <img src="/static/assets/img/shapes/waves-white.svg" alt="pattern-lines"
            class="position-absolute start-0 top-md-0 w-100 opacity-2">
          <div class="container py-7 postion-relative z-index-2 position-relative">
            <div class="row">
              <div class="col-md-7 mx-auto text-center">
                <h3 class="text-white">É uma instituição e precisa deste template para ajudar outras pessoas?</h3>
                <p class="text-white mb-5">Por isso nós deixamos o nosso código disponível, o nosso objetivo é alcançar
                  o máximo de pessoas que precisam da nossa ajuda!</p>
                <a href="#" target="_blank"
                  class="btn btn-secondary btn-lg mb-3 mb-sm-0">Acessar projeto </></a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <footer class="footer ">
      <div class="container">
        <div class=" row">
          <div class="col-12">
            <div class="text-center">
              <p class="text-dark my-4 text-sm font-weight-normal">
                &copy; <a href="https://github.com/andersoonlops/projeto-extens-o.git" target="_blank">Todos os Direitos Reservados</a> - Desenvolvido por Donations Tech.
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/static/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/js/plugins/countup.min.js"></script>
    <script src="/static/assets/js/plugins/rellax.min.js"></script>
    <script src="/static/assets/js/plugins/tilt.min.js"></script>
    <script src="/static/assets/js/plugins/choices.min.js"></script>
    <script src="/static/assets/js/plugins/parallax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
    <script src="/static/assets/js/material-kit.min.js?v=3.0.0" type="text/javascript"></script>
    <script type="text/javascript">
      if (document.getElementById('state1')) {
        const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
        if (!countUp.error) {
          countUp.start();
        } else {
          console.error(countUp.error);
        }
      }
      if (document.getElementById('state2')) {
        const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
        if (!countUp1.error) {
          countUp1.start();
        } else {
          console.error(countUp1.error);
        }
      }
      if (document.getElementById('state3')) {
        const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
        if (!countUp2.error) {
          countUp2.start();
        } else {
          console.error(countUp2.error);
        };
      }
    </script>
</body>

</html>